.customNav {
  background-color: transparent !important;
}

.nav-link:hover {
  text-decoration: line-through;
  font-style: italic;
}

.customNav a {
  font-family: FKReg, sans-serif;
  color: white !important;
}

h1 {
  font-family: FKReg, sans-serif;
  color: white;
  margin-left: -20px;
}

.workHeading {
  text-align: center;
  font-size: 37px;
}

.button {
  background-color: black;
  border: none;
  left: 50px;
}

.button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.abstractBackground {
  background-image: url(../images/image4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(80vh - 25px);
  display: flex;
  align-items: center;
  background-position: bottom;
}

.rounded {
  max-width: 100%;
  max-height: 300px;
  width: auto;
}

/* work section  */

.beautyImage {
  height: 405px;
}

.musicImage {
  height: 380px;
}

.content {
  padding: 0px 150px 150px 150px;
  /* padding-top: 0; */
  /* padding: 150px; */
}

.spacing {
  padding: 0px 30px 30px 30px;
}
