.customNav {
  background-color: transparent !important;
}

.nav-link:hover {
  text-decoration: line-through;
  font-style: italic;
}

.customNav a {
  font-family: FKReg, sans-serif;
  color: white !important;
}

h1 {
  font-family: FKReg, sans-serif;
  color: white;
  margin-left: -20px;
}

.workHeading {
  text-align: center;
  font-size: 37px;
}

.button {
  background-color: black;
  border: none;
  left: 50px;
}

.button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.abstractBackground {
  background-image: url(../images/image4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(80vh - 25px);
  display: flex;
  align-items: center;
  background-position: bottom;
}

.rounded {
  max-width: 100%;
  max-height: 300px;
  width: auto;
}

/* About me section */

.skillsButton {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1px 9px 1px 9px;
}

/* Work section  */

.content {
  padding: 0px 200px 50px 200px;
  text-align: center;
}

.card-title {
  color: #ffc163;
}

.colour {
  background-color: #080d17;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.html {
  background-color: white;
  color: black;
  border: none;
  padding: 1px 4px 1px 4px;
  font-size: 12px;
}

.html:hover {
  background-color: black;
}

.card-img-top {
  object-fit: cover;
  height: 55%;
}

p {
  font-weight: lighter;
  font-size: 14px;
}

.personal-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
